.box{
    display: inline-block;
    position: absolute;
    top:200px;
    left:100px;
}

section{
    display: inline-block;
    text-shadow: 3px 3px 10px #000;
    padding:20px;
    background-color:#5B0505;
    box-shadow: 12px 12px 10px #000;
    border-radius: 10px;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

section h2{
    margin-bottom: 40px;
    padding:25px 310px;
}

section h3{
    padding: 20px;
}

section:hover{
    transform: translateY(-25px);
}