h2{
    display:inline-flex;
    color:#FFF;
    font-family:"Inter", "Fira Code", "Arial", "Sans Serif";
    font-size:50pt;
    border-style:double;
    border-color: #000;
    border-radius: 10px;
}